.automaton {
  text-align: center;
}

.automaton svg {
  max-width: 100%;
  height: auto;
}

.dropdown-menu {
  z-index: 1200;
}

.btn:focus,
label {
  outline: none !important;
  box-shadow: none !important;
}

p {
  white-space: pre-line;
}

.graph>polygon {
  fill: none;
}

.my-hover:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.cursor:hover {
  cursor: pointer;
}

.text-overline {
  text-decoration: overline;
}