.automaton {
  text-align: center;
}

.automaton svg {
  max-width: 100%;
  height: auto;
}

.dropdown-menu {
  z-index: 1200;
}

/* .card {
  margin: 10px 0;
} */

.btn:focus,
label {
  outline: none !important;
  box-shadow: none !important;
}
